{% extends 'components/base.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %} {{ title2 }} {% endblock title %}</title>

    <section class="dark:bg-principal">
        <div class="text-center" data-aos="fade" data-aos-delay="200">

            <!-- Cabecera -->
            <div class="sm:pt-28 lg:pt-24">
                <div class="flex flex-col items-center justify-center">
                    <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                        {{ title }}
                    </span>
                </div>
                <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                    {{ title2 }}
                </h1>
            </div>

            <!-- Formulario -->
            <form method="post" enctype="multipart/form-data" class="space-y-6 py-4">
                {% csrf_token %}
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-4 lg:mx-20" data-aos="fade">

                    <!-- Columna de la izquierda -->
                    <div class="bg-white dark:bg-secundario rounded-3xl flex flex-col justify-center items-center p-8"
                         data-aos="fade-right" data-aos-delay="200">

                        <!-- Previsualización Imagen - Logo -->
                        <div class="w-[60%] text-center">
                            <h2 class="dark:text-blue-300 text-2xl text-center mt-6 font-Pacifico">
                            </h2><br>
                            <div id="imagenPreview">
                                {% if form.image.value %}
                                    <img id="imagenSeleccionada" src="{{ form.image.value.url }}"
                                         class="mx-auto d-block rounded-lg" alt="Imagen de Proveedor">
                                {% else %}
                                    <img id="imagenSeleccionada" src="{% static 'img/default_supplier.jpg' %}"
                                         class="mx-auto d-block rounded-lg" alt="Imagen de Proveedor por defecto">
                                {% endif %}
                            </div>
                        </div>

                        <!-- Cargar Imagen - Logo -->
                        <div class="text-center w-auto m-4">
                            <label for="{{ form.image.id_for_label }}"
                                   class="dark:text-blue-300 font-black uppercase text-lg">{{ form.image.label }}</label>
                            {{ form.image }}
                        </div>
                    </div>

                    <!-- Columna de la derecha -->
                    <div class="p-4 rounded-3xl dark:bg-secundario bg-white flex flex-col justify-center items-center"
                         data-aos="fade-right" data-aos-delay="200">
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

                            <div>
                                <div class="mb-8">
                                    <label for="{{ form.name.id_for_label }}"
                                           class="dark:text-blue-300 font-black uppercase text-lg">{{ form.name.label }}</label>
                                    {{ form.name }}
                                </div>

                                <div class="mb-8">
                                    <label for="{{ form.address.id_for_label }}"
                                           class="dark:text-blue-300 font-black uppercase text-lg">{{ form.address.label }}</label>
                                    {{ form.address }}
                                </div>
                            </div>

                            <div>
                                <div class="mb-8">
                                    <label for="{{ form.ruc.id_for_label }}"
                                           class="dark:text-blue-300 font-black uppercase text-lg">{{ form.ruc.label }}</label>
                                    {{ form.ruc }}
                                </div>

                                <div class="mb-8">
                                    <label for="{{ form.phone.id_for_label }}"
                                           class="dark:text-blue-300 font-black uppercase text-lg">{{ form.phone.label }}</label>
                                    {{ form.phone }}
                                </div>
                            </div>

                            <div>
                                <div class="mb-8">
                                    <label for="{{ form.latitude.id_for_label }}"
                                           class="dark:text-blue-300 font-black uppercase text-lg">{{ form.latitude.label }}</label>
                                    {{ form.latitude }}
                                </div>

                                <div class="mb-8">
                                    <label for="{{ form.longitude.id_for_label }}"
                                           class="dark:text-blue-300 font-black uppercase text-lg">{{ form.longitude.label }}</label>
                                    {{ form.longitude }}
                                </div>

                            </div>
                        </div>

                        <div class="mb-8 flex flex-col justify-center items-center">
                            <label for="{{ form.active.id_for_label }}"
                                   class="dark:text-blue-300 font-black uppercase text-lg">{{ form.active.label }}</label>
                            {{ form.active }}
                        </div>
                        <div class="flex flex-col md:flex-row justify-center">
                            <button type="submit"
                                    class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center">
                                <i class="fa-solid fa-save mr-2"></i>Guardar
                            </button>
                            <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center"
                               href="{% url 'core:supplier_list' %}">
                                <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                            </a>
                        </div>
                    </div>

                    <!-- Columna final mapa-->
                    <div class="bg-white dark:bg-secundario rounded-3xl flex flex-col justify-center items-center p-8"
                         data-aos="fade-right" data-aos-delay="200" style="margin-left: 740px">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Nuestras Sucursales</h3>
                                <p class="lead dark:text-blue-300 font-black uppercase text-lg">
                                    {{ encabezado }}
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div id="map" style="height: 400px; width: 1100px"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </section>

    <!-- Incluye FontAwesome para los iconos todo esto para que funcione el form update en la list -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" integrity="..." crossorigin=""/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" integrity="..." crossorigin=""></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKB4Imkb9Mnv5b1D2y5fE54G1DibEN5tr4m7Xx69GwpLjtNMte8yu4Z8tfgS1SJz3tkP4X3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const latField = document.getElementById('{{ form.latitude.id_for_label }}');
            const lngField = document.getElementById('{{ form.longitude.id_for_label }}');
            const addressField = document.getElementById('{{ form.address.id_for_label }}');
            const nameField = document.getElementById('{{ form.name.id_for_label }}');
            const imageField = document.getElementById('{{ form.image.id_for_label }}');
            const initialLat = {{ object.latitude|default:"-2.129896" }};
            const initialLng = {{ object.longitude|default:"-79.593256" }};
            const initialAddress = '{{ object.address|default:"" }}';
            const initialImageUrl = '{{ object.image.url|default:"{% static 'img/default_supplier.jpg' %}" }}';

            let providerName = nameField.value || 'Proveedor';
            let imageUrl = initialImageUrl;

            // Función para actualizar el contenido del popup
            function updatePopupContent(marker, address) {
                const popupContent = `
            <div class="col-md-4">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header d-flex align-items-center" style="background-color: #f8f9fa; border-bottom: 1px solid #dee2e6;">
                        <img src="${imageUrl}" alt="Imagen del Proveedor" style="width: 50px; height: 50px; border-radius: 5px; margin-left: 10px; float: right" />
                        <div>
                            <strong class="card-title">
                                <h2 style="font-weight: bold; margin-bottom: 0;">Proveedor:</h2>
                                <span>${providerName}</span>
                            </strong>
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="location text-sm-center d-flex align-items-center">
                            <div style="margin-left: 10px;">
                                <strong>
                                    <h2 style="font-weight: bold; margin-bottom: 0;">Dirección:</h2>
                                    <span>${address}</span>
                                </strong>
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        `;
                marker.bindPopup(popupContent, {offset: [0, -30]});
            }

            // Actualiza el nombre del proveedor
            nameField.addEventListener('input', function () {
                providerName = this.value || 'Proveedor';
                if (marker) {
                    updatePopupContent(marker, addressField.value);
                    marker.openPopup();
                }
            });

            // Actualiza la URL de la imagen del proveedor
            imageField.addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    imageUrl = URL.createObjectURL(this.files[0]);
                } else {
                    imageUrl = initialImageUrl;
                }
                if (marker) {
                    updatePopupContent(marker, addressField.value);
                    marker.openPopup();
                }
            });

            const mapElement = document.getElementById('map');
            if (mapElement) {
                const mapInstance = L.map(mapElement).setView([initialLat, initialLng], 14);

                // Agrega la capa de mapa (por ejemplo, OpenStreetMap)
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(mapInstance);

                let marker;

                // Función para manejar el clic en el mapa
                function handleMapClick(e) {
                    const lat = e.latlng.lat.toFixed(6);
                    const lng = e.latlng.lng.toFixed(6);

                    // Actualiza los campos de latitud y longitud
                    latField.value = lat;
                    lngField.value = lng;

                    // Elimina el marcador anterior y agrega uno nuevo con el icono de proveedor
                    if (marker) {
                        mapInstance.removeLayer(marker);
                    }
                    const icon = L.divIcon({
                        html: '<i class="fa-solid fa-truck-field" style="font-size: 24px; color: #007bff;"></i>',
                        className: 'custom-icon',
                        iconSize: [30, 30],
                        iconAnchor: [15, 30]
                    });
                    marker = L.marker(e.latlng, {icon: icon, draggable: false}).addTo(mapInstance);

                    // Obtiene detalles de ubicación usando geocodificación inversa
                    fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`)
                        .then(response => response.json())
                        .then(data => {
                            addressField.value = data.display_name;
                            updatePopupContent(marker, data.display_name);
                            marker.openPopup();
                        })
                        .catch(error => {
                            console.error('Error al obtener detalles de la ubicación:', error);
                        });
                }

                // Agrega el evento de clic al mapa para manejarlo
                mapInstance.on('click', handleMapClick);

                // Muestra el popup al pasar el mouse sobre el marcador
                mapInstance.on('mouseover', function (e) {
                    if (marker) {
                        marker.openPopup();
                    }
                });

                // Cierra el popup al salir el mouse del marcador
                mapInstance.on('mouseout', function (e) {
                    if (marker) {
                        marker.closePopup();
                    }
                });

                // Añadir el marcador del proveedor actual
                const icon = L.divIcon({
                    html: '<i class="fa-solid fa-truck-field" style="font-size: 24px; color: #007bff;"></i>',
                    className: 'custom-icon',
                    iconSize: [30, 30],
                    iconAnchor: [15, 30]
                });
                marker = L.marker([initialLat, initialLng], {icon: icon, draggable: false}).addTo(mapInstance);
                updatePopupContent(marker, initialAddress);
                marker.openPopup();
            }
        });
    </script>

    <script>
        const imagenInput = document.getElementById('{{ form.image.id_for_label }}');
        const imagenSeleccionada = document.getElementById('imagenSeleccionada');

        imagenInput.addEventListener('change', function () {
            const file = imagenInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagenSeleccionada.src = e.target.result;
                }
                reader.readAsDataURL(file);
            } else {
                '{% if form.image.value %}'
                    imagenSeleccionada.src = "{{ form.image.value.url }}";
                    '{% else %}'
                    imagenSeleccionada.src = "{% static 'img/usuario_anonimo.png' %}";
                    '{% endif %}'
            }
        });
    </script>

{% endblock content %}
